name: "godot-ci export"
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}

env:
  GODOT_VERSION: 4.2
  EXPORT_NAME: AlienAttack
  BUTLER_CREDENTIALS: "${{ secrets.BUTLER_API_KEY }}"
  ITCH_GAME: alien-attack
  ITCH_USER: halkeye

jobs:
  build-and-publish:
    name: Build and Publish
    permissions:
      contents: read
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:4.2.1
    environment:
      name: github-pages
      url: https://halkeye.itch.io/alien-attack
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: false

      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/templates
          mv /root/.local/share/godot/templates/ ~/.local/share/godot/export_templates/

      - name: Remove .godot
        run:
          find -name .godot -exec rm -rf {} \;

      - name: Set Version
        working-directory: 'godotproject'
        run: |
          sed -i 's|Version: 1.0.0|Version: 1.0.0.${{ github.sha }}|g' scenes/main_menu.tscn

      - name: Build
        working-directory: 'godotproject'
        run: |
          mkdir -v -p build/{windows,linux,mac,web}
          timeout 60 godot --headless --editor --quit
          godot -v --headless --export-debug "web"
          godot -v --headless --export-debug "windows"
          godot -v --headless --export-debug "linux"
          godot -v --headless --export-debug "mac"

      - name: Borrow enable-threads script
        working-directory: 'godotproject'
        run: wget -O build/web/coi-serviceworker.min.js https://raw.githubusercontent.com/gzuidhof/coi-serviceworker/master/coi-serviceworker.min.js

      - name: Preload threads script
        working-directory: 'godotproject'
        run: |-
          sed -i 's|<script src="index.js"></script>|<script src="coi-serviceworker.min.js"></script><script src="index.js?m=${{ github.sha }}"></script>|g' build/web/index.html

      - uses: manleydev/butler-publish-itchio-action@master
        env:
          CHANNEL: windows
          PACKAGE: godotproject/build/windows

      - uses: manleydev/butler-publish-itchio-action@master
        env:
          CHANNEL: web
          PACKAGE: godotproject/build/web

      - uses: manleydev/butler-publish-itchio-action@master
        env:
          CHANNEL: linux
          PACKAGE: godotproject/build/linux

      - uses: manleydev/butler-publish-itchio-action@master
        env:
          CHANNEL: mac
          PACKAGE: godotproject/build/mac

